$base-font-size: 14px;
$base-font-family: 'Mont-Regular', sans-serif;
$base-line-height: 1.2;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: $base-font-size;
	font-family: $base-font-family;
	line-height: $base-line-height;
	background-color: #FFFFF9;

}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-align {
	display: flex;
	align-items: center;
}

.flex-direction{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.container-block {
	width: 100%;
	max-width: 1600px;
	padding: 0 72px;
}

.container-block_media {
	width: 100%;
	max-width: 375px;
	padding: 0 16px;
}

.container-media {
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
}