@font-face {
	font-family: 'Inter-Reqular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/Inter-Regular.ttf) format('woff2');
}
@font-face {
	font-family: 'Inter-Medium';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/Inter-Medium.ttf) format('woff2');
}

@font-face {
	font-family: 'Inter-Bold';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../font/Inter-SemiBold.ttf) format('woff2');
}

@font-face {
	font-family: 'Helvetica-Neue';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../font/Helvetica-Neue.otf) format('woff2');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter-Reqular';
	background-color: #FFFFF9;
	overflow-x: hidden;
}
body li{
	list-style-type: none;
}


.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-align {
	display: flex;
	align-items: center;
}

.flex-direction{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.container {
	width: 100%;
	margin: 0 auto;
}

.container-block {
	width: 100%;
	padding:  0 15px;
	max-width: 1486px;
	margin: 0 auto;
}

.container-block_media {
	width: 100%;
	max-width: 640px;
	padding: 0 16px;
}

.container-media {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.inputs input:focus {
	border-color: #B3B3B3;
	outline: 1px solid #B3B3B3
}

.inputs textarea:focus {
	border-color: #B3B3B3;
	outline: 1px solid #B3B3B3
}

@media (max-width: 1510px) {
	.container-block {
		padding: 0 15px;
	}
}